<ion-header [translucent]="true">
  <ion-toolbar>
    <!--TODO: Implementar vuelta a la pagina desde la que vino el usuario-->
    <ion-icon slot="start" style="margin-left: 5%;"name="arrow-back-outline" size="large" [routerLink]="['/tabs']"></ion-icon>
    <ion-title slot="start">
      Cuenta
    </ion-title>
    <ion-list>
      <ion-item>
        <!--<ion-select placeholder="Cambiar Perfil" slot="end" okText="confirme Cambio de perfil" cancelText="Cancelar opción" fill="true" value="Comprador"> -->
        <ion-select value="Comprador" placeholder="Cambiar Perfil" slot="end" okText="Confirmar" cancelText="Cancelar" fill="true"
          [(ngModel)]="tipo" (ionChange)="onTipoChange($event)">
          <ion-select-option value="Comprador">Comprador</ion-select-option>
          <ion-select-option value="Vendedor">Vendedor</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-avatar slot="start">
      <!--<img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />-->
      <img alt="Silhouette of a person's head" src="{{fotoPerfil}}" />
    </ion-avatar>
    <ion-label>
      <h2>{{nombre+' '+ apellido}}</h2>
      <p>{{user}}</p>
    </ion-label>
  </ion-item>
  <ion-list *ngIf="tipo === 'Comprador'">
    <ion-list-header>
      <ion-label><strong>Configuración</strong></ion-label>
    </ion-list-header>
    <ion-item button >
      <ion-label [routerLink]="['/preferencia-usuario']" >Preferencias</ion-label>
    </ion-item>
    <ion-item button>
      <ion-label [routerLink]="['administracion']">Administración de la cuenta</ion-label>
    </ion-item>
    <ion-item button>
      <ion-label [routerLink]="['/notificaciones']">Notificaciones</ion-label>
    </ion-item>
    <ion-item button>
      <ion-label [routerLink]="">Privacidad y Datos</ion-label>
    </ion-item>
    <ion-list-header>
      <ion-label><strong>Soporte</strong></ion-label>
    </ion-list-header>
    <ion-item button>
      <ion-label [routerLink]="">Centro de denuncias</ion-label>
    </ion-item>
    <ion-item button>
      <ion-label [routerLink]="">Condiciones de servicio</ion-label>
    </ion-item>
    <ion-item button>
      <ion-label [routerLink]="">Política de privacidad</ion-label>
    </ion-item>
    <ion-item button>
      <ion-label [routerLink]="">Información de la App</ion-label>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="tipo === 'Vendedor'">
    <ion-list-header>
      <ion-label><strong>Configuración</strong></ion-label>
    </ion-list-header>
    <ion-item button >
      <ion-label [routerLink]="['/inmueble']">Ingresar un Inmueble</ion-label>
    </ion-item>
    <ion-item button>
      <ion-label [routerLink]="['administracion']">Administración de la cuenta</ion-label>
    </ion-item>
    <ion-item button>
      <ion-label [routerLink]="">Privacidad y Datos</ion-label>
    </ion-item>
    <ion-list-header>
      <ion-label><strong>Soporte</strong></ion-label>
    </ion-list-header>
    <ion-item button>
      <ion-label [routerLink]="">Centro de denuncias</ion-label>
    </ion-item>
    <ion-item button>
      <ion-label [routerLink]="">Condiciones de servicio</ion-label>
    </ion-item>
    <ion-item button>
      <ion-label [routerLink]="">Política de privacidad</ion-label>
    </ion-item>
    <ion-item button>
      <ion-label [routerLink]="">Información de la App</ion-label>
    </ion-item>
  </ion-list>
  <ion-item>
    <ion-button name="cerrar" shape="round" id="btn-cerrar">
      <ion-label (click)="cerrarSesion()" [routerLink]="['/login']">Cerrar Sesión</ion-label>
    </ion-button>
  </ion-item>
</ion-content>
<ion-footer>
  <ion-label>Versión 0.0.1</ion-label>
</ion-footer>
