<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-item>
      <ion-title>
        Favoritos
      </ion-title>
      <ion-avatar slot="start">
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" [routerLink]="['/preferencias']"/>
      </ion-avatar>
      <ion-icon name="notifications-outline" slot="end"></ion-icon>
    </ion-item>
  </ion-toolbar>
</ion-header>
<ion-toolbar>
  <ion-searchbar placeholder="Buscar" (ionChange)="buscar( $event)"></ion-searchbar>
</ion-toolbar>

<!--- Aquí vamos a poner fuera del contenido esta toolbar con los filtros
de esta manera no se desplazarán cuando haya que recorrer todas las coincidencias---->
<ion-toolbar>
  <ion-item>
    <ion-label slot="start">Ordenar por</ion-label>
    <ion-icon name="options" slot="end"></ion-icon>
  </ion-item>
</ion-toolbar>
<ion-toolbar>
  <ion-item>
    <ion-segment value ="Precio"  (ionChange)="segmentPrecMtsHab($event)" #segmento1>
      <ion-segment-button id="btn-precio" value="Precio"  small>
        <ion-label>Precio</ion-label>
      </ion-segment-button>
      <ion-segment-button id="btn-metros" value="mts"  small>
        <ion-label>mts</ion-label>
      </ion-segment-button>
      <ion-segment-button id="btn-habitaciones" value="Habitaciones"  small>
        <ion-label>Habitaciones</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-item>
</ion-toolbar>
<ion-toolbar>
  <ion-item>
    <ion-segment value="Todos" (ionChange)="segmentVentArriendo($event)" #segmento2>
      <ion-segment-button value="Todos">
        <ion-label>Todos</ion-label>
      </ion-segment-button>
      <ion-segment-button id="btn-venta" value="Venta" small>
        <ion-label>Venta</ion-label>
      </ion-segment-button>
      <ion-segment-button id="btn-arriendo" value="Arriendo"  small>
        <ion-label>Arriendo</ion-label>
      </ion-segment-button>
      <!----
      <ion-button id="btn-mapa" shape="round">
        <ion-icon name="globe" slot="icon-only"></ion-icon>
      </ion-button>
      ----->
    </ion-segment>
  </ion-item>
</ion-toolbar>

<!---Inicio del contenido y muestra de las cards con las viviendas-->
<ion-content [fullscreen]="true">
  <ion-list>
    <!--<ion-item *ngFor="let search of serchVar | filtro:'textBuscar'"> -->
    <ion-item *ngFor="let vivienda of viviendas | async" >
      <ion-card>
        <img id="imagen_casa" alt="casa ejemplo" src= "https://img.freepik.com/vector-gratis/plantilla-pegatina-mini-casa-aislada_1308-60687.jpg"/>
        <ion-card-header>
          <ion-card-subtitle>[{{vivienda.tipo_propiedad}}]</ion-card-subtitle>
          <ion-card-subtitle>{{vivienda.precio}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-title>{{vivienda.nombre_propiedad}}</ion-card-title>
        <ion-card-subtitle>{{vivienda.condicion}}</ion-card-subtitle>
        <ion-card-content>{{vivienda.descripcion}}</ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>

</ion-content>
