ion-segment-button {
    --indicator-color: #0850a3;
  }

ion-card {
  padding: 10px;
  border-radius: 10px;
  width: 90%;
}

ion-modal {
  --height: 70%; //50%;
  --width:90%;
  --border-radius: 16px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

ion-modal::part(backdrop) {
  background: rgba(209, 213, 219);
  opacity: 1;
}

ion-modal ion-toolbar {
  --background: rgb(14 116 144);
  --color: white;
}
#modal_uf {//ion-modal2 {
  --height: 35%; //50%;
  --width:90%;
  --border-radius: 16px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}
#modal_mts {//ion-modal2 {
  --height: 35%; //50%;
  --width:90%;
  --border-radius: 16px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}
#modal_habitacion {//ion-modal2 {
  --height: 35%; //50%;
  --width:90%;
  --border-radius: 16px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.imagen_casa{
  width: 90%; //50%;
  border-radius: 10px;
  background-size: cover;
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center-content ion-icon {
  font-size: 1.5em;
}

.center-content ion-label {
  text-align: center;
}
