ion-segment-button {
    --indicator-color: #0850a3;
  }

#imagen_casa{
  width: 50%;
  height: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
}
