ion-segment-button {
    --indicator-color: #0850a3;
  }

ion-card {
  padding: 10px;
  border-radius: 10px;
  width: 90%;
}

.imagen_casa{
  width: 50%;
  border-radius: 10px;
  background-size: cover;
}

.center-content { 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
}

.center-content ion-icon {
  font-size: 1.5em;
}

.center-content ion-label {
  text-align: center;
}
