ion-fab {
    bottom: 20px;
    right: 16px;
}

#map {
    width: 95vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.side-scroll {
    display: flex;
    overflow-x: auto; /* Permite el scroll horizontal */
    white-space: nowrap; /* Evita que los ítems se rompan en una nueva línea */
    max-height: 50vh; /* Limita la altura para evitar que se extienda más allá de la pantalla */
    scrollbar-width: none;
}

.side-scroll::-webkit-scrollbar {
    display: none;
}

.side-scroll ion-card {
    min-width: 200px; /* Ajusta el tamaño según sea necesario */
    max-height: 48vh;
    max-width: 50%; /* Limita el ancho máximo para asegurarse de que se ajuste */
    flex: 0 0 auto; /* Asegura que las tarjetas mantengan su tamaño sin estirarse */
    margin: 8px; /* Añade un margen entre las tarjetas */
    overflow: hidden; /* Oculta el contenido que se salga */
}

.side-scroll ion-card-content {
    white-space: normal; /* Asegura que el contenido pueda envolver en múltiples líneas */
    text-overflow: ellipsis; /* Añade puntos suspensivos si el texto es muy largo */
    overflow: hidden;
}

ion-segment-button {
  --indicator-color: #0850a3;
}

ion-card {
padding: 10px;
border-radius: 10px;
width: 90%;
}

ion-modal {
--height: 70%; //50%;
--width:90%;
--border-radius: 16px;
--box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

ion-modal::part(backdrop) {
background: rgba(209, 213, 219);
opacity: 1;
}

ion-modal ion-toolbar {
--background: rgb(14 116 144);
--color: white;
}

.imagen_casa{
width: 90%; //50%;
border-radius: 10px;
background-size: cover;
}

.center-content {
display: flex;
flex-direction: column;
align-items: center;
}

.center-content ion-icon {
font-size: 1.5em;
}

.center-content ion-label {
text-align: center;
}
#pred1 {
  --background: #4ad4b2;
  --color: #fcfcfc;
  --ion-item-border-color: #000000;
}
#pred2 {
  --background: #46c9a8;
  --color: #fcfcfc;
  --ion-item-border-color: #000000;
}
#pred3 {
  --background: #42be9f;
  --color: #fcfcfc;
  --ion-item-border-color: #000000;
}
#pred4 {
  --background: #3eb296;
  --color: #fcfcfc;
  --ion-item-border-color: #000000;
}
