.match-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    
}

.match-container.center {
    //justify-content: center;
    //align-items: center;
    margin-top: 50%;
}
  
.match-card {
    //position: absolute;
    width: 90%;
    max-height: 70%;
    //transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

/*.swipe-left {
    transform: translateX(-100%) rotate(-10deg);
    opacity: 0;
}

.swipe-right {
    transform: translateX(100%) rotate(10deg);
    opacity: 0;
}*/

  
.property-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
  
.buttons {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.info {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    color: white;
    text-align: left;
    z-index: 1;
}

.info.visible {
    display: none;
}