<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-item>
      <ion-title>Preferencias</ion-title>
      <ion-icon slot="start" style="margin-left: 2%; color:rgb(30, 103, 170)"name="arrow-back-outline" size="large" [routerLink]="['/preferencias']"></ion-icon>
      <!--
      <ion-avatar slot="start">
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" [routerLink]="['/preferencias']"/>
      </ion-avatar>
      -->
      <ion-icon name="notifications-outline" slot="end"></ion-icon>
    </ion-item>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
<div>
  <ion-item>
    <ion-label>Aquí podrás definir tus parámetros de match para la búsqueda automática de propiedades</ion-label>
  </ion-item>
</div>
<div>
  <ion-item>
    <ion-label>Activar búsqueda automática</ion-label>
    <ion-checkbox labelPlacement="fixed" slot="start" [(ngModel)]="cheCked"  (ionClick)="habilitarBusqueda()"></ion-checkbox>
  </ion-item>
</div>
<div><ion-item><ion-label>Distancia de búsqueda :</ion-label><ion-label>{{DistanciaRango}} km</ion-label></ion-item></div>
<div>
  <ion-item >
    <ion-range aria-label="Custom range" [pin]="true"
    [disabled]="!cheCked"
    [(ngModel)]="DistanciaRango"
    (ionChange)="IonChange($event)"></ion-range>
  </ion-item>
</div>
<div>
  <ion-item>
    <ion-label> Selecciona operación </ion-label>
    <ion-select placeholder="Selecciona una opción" [(ngModel)]="opPeracion" (ionChange)="selectedOperacion()">
      <ion-select-option value="Compra"> Compra </ion-select-option>
      <ion-select-option value="Arriendo">Arriendo</ion-select-option>
    </ion-select>
  </ion-item>
</div>

<div>
  <ion-item>
    <ion-label>¿Qué tipo de propiedad buscas?</ion-label>
    <ion-select placeholder="Selecciona una opción" [(ngModel)]="opPropiedad" (ionChange)="selectedPropiedad()">
      <ion-select-option value="Casa">Casa</ion-select-option>
      <ion-select-option value="Departamento">Departamento</ion-select-option>
      <ion-select-option value="Otro">Otro</ion-select-option>
    </ion-select>
  </ion-item>
</div>
<div>
  <ion-item>
    <ion-label> Condición del inmueble </ion-label>
    <ion-select placeholder="Selecciona una opción" [(ngModel)]="opInmbueble" (ionChange)="selectedInmueble()">
      <ion-select-option value="Nueva">Nueva</ion-select-option>
      <ion-select-option value="Usada">Usada</ion-select-option>
    </ion-select>
  </ion-item>
</div>
<ion-grid>
  <ion-row>
    <ion-col size="6"> <!---- Metros cuadrados (area construida) -->
      <ion-input fill="solid" type="numeric" maxlength="4" max="9999"
        label= "mts2 Construidos"
        labelPlacement="floating"
        [clearInput]="true"
        helperText="ingrese número"
        errorText="dato no válido"
        [(ngModel)]="areaConstruida"
        (ionChange)="metrosConstruidos($event)"></ion-input>
    </ion-col>
    <ion-col size="6"> <!---- años de antiguedad -->
      <ion-input fill="solid" type="numeric" maxlength="3" max="999"
        label="Antiguedad años"
        labelPlacement="floating"
        [clearInput]="true"
        helperText="ingrese número"
        errorText="dato no válido"
        [(ngModel)]="antiguedad"
        (ionChange)="ingresarAntiguedad($event)"></ion-input>
    </ion-col>
  </ion-row>
</ion-grid>
<ion-grid>
  <ion-row>
    <ion-col size="6"> <!---- Metros cuadrados (area Total) -->
      <ion-input fill="solid" type="numeric" maxlength="4" max="9999"
        label= "Area total mts2"
        labelPlacement="floating"
        [clearInput]="true"
        helperText="ingrese número"
        errorText="dato no válido"
        [(ngModel)] ="areaTotal"
        (ionChange)="metrosTotales($event)"></ion-input>
    </ion-col>
    <ion-col size="6"> <!---- cantidad de pisos -->
      <ion-input fill="solid" type="numeric" maxlength="1" max="9"
        label="Cantidad de pisos"
        labelPlacement="floating"
        [clearInput]="true"
        helperText="ingrese número"
        errorText="dato no válido"
        [(ngModel)]="pisos"
        (ionChange)="cantPisos($event)"></ion-input>
    </ion-col>
  </ion-row>
</ion-grid>
<div>
  <ion-radio-group value="UF" (ionChange)="inputTipoValor($event)" [(ngModel)]="tipoValor">
    <ion-item>
      <ion-radio slot="start" value="UF"> UF </ion-radio>
      <ion-radio slot="start" value="CLP" > CLP </ion-radio>
    </ion-item>
  </ion-radio-group>
</div>
<ion-grid>
  <ion-row>
    <ion-col size="6">
      <ion-input fill="solid" type="numeric" *ngIf="tipoValor === 'UF'" max=9999 maxlength="4"
        label= "Desde {{tipoValor}}"
        labelPlacement="floating"
        [clearInput]="true"
        helperText="ingrese número"
        errorText="dato no válido"
        (ionChange)="ingresoValorViviendaMin($event)"
        [(ngModel)]="valorMontoVivienda.min"></ion-input>
    </ion-col>
    <ion-col size="6">
      <ion-input fill="solid" type="numeric" *ngIf="tipoValor === 'UF'" max=9999 maxlength="4"
        label="Hasta {{tipoValor}}"
        labelPlacement="floating"
        [clearInput]="true"
        helperText="ingrese número"
        errorText="dato no válido"
        (ionChange)="ingresoValorViviendaMax($event)"
        [(ngModel)]="valorMontoVivienda.max"
        (ionBlur)="validarMontoMax($event)"></ion-input>
    </ion-col>
    <ion-col size="6">
      <ion-input fill="solid" type="numeric" *ngIf="tipoValor === 'CLP'" max="999999999" maxlength="9"
        label= "Desde {{tipoValor}}"
        labelPlacement="floating"
        [clearInput]="true"
        helperText="ingrese número"
        errorText="dato no válido"
        (ionChange)="ingresoValorViviendaMin($event)"
        [(ngModel)]="valorMontoVivienda.min"></ion-input>
    </ion-col>
    <ion-col size="6">
      <ion-input fill="solid" type="numeric" *ngIf="tipoValor === 'CLP'" max="999999999" maxlength="9"
        label="Hasta {{tipoValor}}"
        labelPlacement="floating"
        [clearInput]="true"
        helperText="ingrese número"
        errorText="dato no válido"
        (ionChange)="ingresoValorViviendaMax($event)"
        [(ngModel)]="valorMontoVivienda.max"
        (ionBlur)="validarMontoMax($event)"></ion-input>
    </ion-col>
  </ion-row>
</ion-grid>
<div>
  <ion-item>
    <ion-label>¿Subsidio?</ion-label>
    <ion-checkbox slot="start" [(ngModel)]="checkSubsidio"  (ionClick)="habilitarSub()"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Selecciona el tipo de subsidio</ion-label>
      <ion-select placeholder="Elija opción" [disabled]="!checkSubsidio" [(ngModel)]="opSubsidio" (ionChange)="selectedSubsidio()" multiple="true" value="Ninguno">
        <ion-select-option *ngFor="let op of subSidio" [value]="op" > {{op}}</ion-select-option>
      </ion-select>
  </ion-item>
</div>
<ion-grid>
  <ion-row>
    <ion-col size="6">
      <ion-input fill="solid" type="numeric"  max="99" maxlength="99"
        label= "Cant habitaciones"
        labelPlacement="floating"
        [clearInput]="true"
        helperText="ingrese número"
        errorText="dato no válido"
        (ionInput)="ingresoHabitaciones()"
        [(ngModel)]="cantHabitaciones"></ion-input>
    </ion-col>
    <ion-col size="6">
      <ion-input fill="solid" type="numeric"  max="99" maxlength="99"
        label="Cant baños"
        labelPlacement="floating"
        [clearInput]="true"
        helperText="ingrese número"
        errorText="dato no válido"
        (ionChange)="ingresoBanos()"
        [(ngModel)]="cantBanos"></ion-input>
    </ion-col>
  </ion-row>
</ion-grid><ion-grid>
  <ion-row>
    <ion-col size="6">
      <ion-input fill="solid" type="numeric"  max="99" maxlength="99"
        label= "Cant estacionamientos"
        labelPlacement="floating"
        [clearInput]="true"
        helperText="ingrese número"
        errorText="dato no válido"
        (ionInput)="inEstacionamiento()"
        [(ngModel)]="estacionamiento"></ion-input>
    </ion-col>
    <ion-col size="6">
      <ion-input fill="solid" type="numeric"  max="99" maxlength="99"
        label="Cant bodegas"
        labelPlacement="floating"
        [clearInput]="true"
        helperText="ingrese número"
        errorText="dato no válido"
        (ionChange)="inBodega()"
        [(ngModel)]="bodega"></ion-input>
    </ion-col>
  </ion-row>
</ion-grid>
<!--
<div>
  <ion-item>
    <ion-label>¿Estacionamiento?</ion-label>
    <ion-checkbox id="estacionamiento" labelPlacement="fixed" slot="start" [(ngModel)]="estacionamiento"  (ionClick)="inEstacionamiento()" value="true"></ion-checkbox>
    <ion-label>¿Bodega?</ion-label>
    <ion-checkbox id="Bodega" labelPlacement="fixed" [(ngModel)]="bodega"  (ionClick)="inBodega()" value="true"></ion-checkbox>
  </ion-item>
</div>
-->
<!--
<div>
  <ion-item>
    <ion-label labelPlacement="float"> Región </ion-label>
    <ion-select placeholder="Selecciona una opción" multiple="true" [(ngModel)]="opRegion" (ionChange)="selectedRegion()">
      <ion-select-option value="Metropolitana" >Metropolitana</ion-select-option>
    </ion-select>
  </ion-item>
</div>
<div>
  <ion-item>
    <ion-label labelPlacement="float"> Comuna </ion-label>
    <ion-select placeholder="Selecciona una opción" multiple="true" [(ngModel)]="opComuna" (ionChange)="selectedComuna()">
      <ion-select-option value="San Joaquín" >San Joaquín</ion-select-option>
      <ion-select-option value="Ñuñoa" >Ñuñoa</ion-select-option>
      <ion-select-option value="Macul" >Macul</ion-select-option>
    </ion-select>
  </ion-item>
</div>
-->
<div>
  <ion-item>
    <ion-label>¿ Desea ser contactado ?</ion-label>
    <ion-checkbox labelPlacement="fixed" slot="start" [(ngModel)]="contactado"  (ionClick)="contactar()"></ion-checkbox>
  </ion-item>
</div>
<div>
  <ion-item>
    <ion-label>¿ Recibir notificaciones ?</ion-label>
    <ion-checkbox labelPlacement="fixed" slot="start" [(ngModel)]="notificaciones"  (ionClick)="notificar()"></ion-checkbox>
  </ion-item>
</div>
<div>
  <ion-item>
    <!--<ion-button slot="start" size="medium" shape="round" (ionClick)="GuardarAjustes()" [routerLink]="['/preferencias']">Guardar Información</ion-button> -->
    <ion-button slot="start" size="medium" shape="round" (click)="GuardarAjustes()">Guardar Información</ion-button>
  </ion-item>
</div>
</ion-content>
